<html>

    <head>
        <title>Add Place of Interest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=GlS5pArm-6QY4O44pafcaRW8C4jnlq4MAsa7EsUqZQLeN_cWTP46kxDxN-psyr9fP_ZnPWekCMIjOUgFgOtf4e-QVRaesZ2XoJcyVDHDS4JuWEqlzT8E5-q9HlRj362Pl7m4fZIRSkS2KWYcWmxELI2ckaE-2GsfnfQ8NCzrNcO1xJciLJuiiHGGEU9aOyc7UHJ-P00ImPPrimU93gy3E5Qz1zdrHfKDInxgZ8mNqR8ATs5FNVKnmqUZ2AovsayBb8MQ-yb4qfRJ3sZqD4Pwa1vTRRKA6w57l7BRm2TVRTyueuxtk7NJShTPrU70Clp4C7M1U4YQwIk-0NUoMleSv4c65YbBsEAwAkBw_Ro3hKV8grcALdzX06KzDlwSjTtoVfsXgEjLXx44HofsudoGZ7te-nqPfNmF2DhH8lBbizfxup6srWoguL7MEwaOBhmRG8YFSQTp6WWDP6NxKHKTXWENF_fZDoZoVFEe5pU1Om8" charset="UTF-8">
        </script>
        <link rel='stylesheet' type="text/css" href='main.css'>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    
    <body>

        <div id="menu">
            <ul>
                <h1>FOOD POI PICKER</h1>
                <li><a href="/generate_poi" class="nodrop">Generate a POI</a></li>
                <li><a href="/add_poi" class="nodrop">Add a POI</a></li>
            </ul>
          </div>

          <div class="content">
              <h1>ADD A PLACE OF INTEREST</h1>

              <form  method="POST">
                <p>
                    <label for="category">Choose a Category: </label>
                    <select id="categories" name="categories" onchange="new_category(this)" required>
                        <option value="cheap">Cheap</option>
                        <option value="expensive">Expensive</option>
                        <option value="new" id="new">New Category</option>
                    </select>
                    <br>
                </p>
                <p id="create_new">
                    
                </p>
                <p>
                    <label for="poi">Add a Place of Interest: </label>
                    <input type="text" id="poi" name="poi" required>
                    <br>
                </p>
                <br><br>
                <button class="btn" onclick="store_info()">SUBMIT</button>

              </form>

          </div>
    
        <script>


            function new_category(category){
                var p = document.getElementById("create_new");
                p.style.display = "none";
                if(category.value == "new"){
                    p.style.display = "block";
                    create_input(p);
                } 
                else{
                    p.style.display = "none";
                }
            }

            function create_input(para){
                    var l = document.createElement("LABEL");
                    l = "Add a New Category: ";
                    var q = document.createElement("INPUT");
                    q.setAttribute("type", "text");
                    q.required = true;
                    
                    para.innerHTML = l;
                    para.appendChild(q);     
            }

            function store_info(){
                alert("New POI Created.");


            }
    
        </script>
    
    </body>

</html>

