<html>

    <head>
        <title>Generate Place of Interest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=GlS5pArm-6QY4O44pafcaRW8C4jnlq4MAsa7EsUqZQLeN_cWTP46kxDxN-psyr9fP_ZnPWekCMIjOUgFgOtf4e-QVRaesZ2XoJcyVDHDS4JuWEqlzT8E5-q9HlRj362Pl7m4fZIRSkS2KWYcWmxELI2ckaE-2GsfnfQ8NCzrNcO1xJciLJuiiHGGEU9aOyc7UHJ-P00ImPPrimU93gy3E5Qz1zdrHfKDInxgZ8mNqR8ATs5FNVKnmqUZ2AovsayBb8MQ-yb4qfRJ3sZqD4Pwa1vTRRKA6w57l7BRm2TVRTyueuxtk7NJShTPrU70Clp4C7M1U4YQwIk-0NUoMleSv4c65YbBsEAwAkBw_Ro3hKV8grcALdzX06KzDlwSjTtoVfsXgEjLXx44HofsudoGZ7te-nqPfNmF2DhH8lBbizfxup6srWoguL7MEwaOBhmRG8YFSQTp6WWDP6NxKHKTXWENF_fZDoZoVFEe5pU1Om8" charset="UTF-8">
        </script>
        <link rel='stylesheet' type="text/css" href='main.css'>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    
    <body>

        <div id="menu">
            <ul>
                <h1>FOOD POI PICKER</h1>
                <li><a href="/add" class="nodrop">Add a POI</a></li>
                <li><a href="/generate" class="nodrop">Generate a POI</a></li>
            </ul>
          </div>

          <div class="content">
              <h1>GENERATE A PLACE OF INTEREST</h1>
                <p id="date">    
                </p>
                <p method = "GET">
                    <label for="category">Filter Category: </label>
                    <input type="radio" id="show" name="showhide" value="Show" onclick="showhide()" checked="true">
                    <label for="Show"> Show All</label>
                    <input type="radio" id="hide" name="showhide" value="Hide" onclick="showhide()">
                    <label for="Hide"> Hide All</label>
                    <br>
                    <div id="filters">
                    </div>
                    <br>
                    <div id="filters2">
                        <label for="others">Filter Others: </label>
                        <input type="checkbox" id="open" name="opendays" value="Open" checked="true">
                        <label for="sun"> Open Today</label>
                    </div>
                    <br>
                </p>
            
                <br>
                <button class="btn" onclick="generate()">GENERATE</button>
                <br><br>

                <div id="result">
                </div>
              
          </div>
    
        <script type="text/javascript" src="../server.js"></script>

        <script  type="text/javascript">

            var r = document.getElementById("result");
            var checkboxes = document.getElementsByClassName('check');
            var filterarray = new Array;
            var hashdata = {};
            var day='';

            get_date();

            fetch("http://localhost:3000/")
            .then(response => response.json())
            .then(categories => showcategories(categories["data"]));

            showcategories = categories => {
                const categoriesDiv = document.querySelector("#filters");
                
                hashdata = categories;
                
                hashdata.forEach(category => {
                    filterarray.push(category["category"]);
                });
                
                let unique = filterarray.filter((item, i, ar) => ar.indexOf(item) === i);

                let i = 1;

                unique.forEach(u=>{
                    const categoryElement = document.createElement("text");
                    var check = document.createElement("input");
                    check.setAttribute("type", "checkbox");
                    check.setAttribute("checked", "true");
                    check.setAttribute("id", "category"+i);
                    check.setAttribute("class", "check");
                    check.setAttribute("value", u);
                    categoriesDiv.appendChild(check);
                    categoryElement.innerHTML = u+ "     ";
                    categoriesDiv.append(categoryElement);
                    i++;
                    // alert(check.value);

                });
            }

            function get_date(){
                var d = new Date();
                var n = d.getDay();
                
                switch(n){
                    case 0:
                        day = "Sunday";
                        break;
                    case 1:
                        day = "Monday";
                        break;
                    case 2:
                        day = "Tuesday";
                        break;
                    case 3:
                        day = "Wednesday";
                        break;
                    case 4:
                        day = "Thursday";
                        break;
                    case 5:
                        day = "Friday";
                        break;
                    case 6:
                        day = "Saturday";
                        break;
                }

                document.getElementById("date").innerHTML ="<h3>Today is: "+ day;
                
            }
            
            
            function generate(){
                var g;
                var filtered =[];
                // alert()
                for (var i=1; i<=checkboxes.length; i++){
                    var check = document.getElementById("category"+i);
                    if (check.checked == true){
                        for(h of hashdata){
                            if (h["category"]==check.value){
                                if(!h.hasOwnProperty("closingdays")){
                                    filtered.push(h);
                                }
                                else if((!h["closingdays"].includes(day))){
                                    filtered.push(h);
                                }
                            }
                        }
                    }
                }
                
                g = filtered[Math.floor(Math.random() * filtered.length)];
                if (g==null){
                    var poi ="<h2>Please Select At Least A Category.";
                    r.innerHTML = poi; 
                }
                else{
                    r.innerHTML = "<h1>Place Of Interest: </h1>" + "<h2>"+g["poi"]+"</h2><h3>Address: "+g["address"]; 

                }
                 
            }

            function showhide(){
                var show = document.getElementById("show");
                var hide = document.getElementById("hide");
                if (show.checked == true){
                    // alert("SHOW ALL");
                    for (var i=1; i<=checkboxes.length; i++){
                        var check = document.getElementById("category"+i);
                        check.checked = true;
                    }
                }
                else if (hide.checked == true){
                    // alert("HIDE ALL");
                    for (var i=1; i<=checkboxes.length; i++){
                        var check = document.getElementById("category"+i);
                        check.checked = false;
                    }
                }

            }
    
        </script>
    
    </body>

</html>

