
li{
    list-style-type: none;
}

body {
    font-family: Avenir;
    /* font-size: larger; */
    margin: 0;
}

#menu {
    height: 100px;
    background-color: #e46887;
}
#menu h1{
    float: left;
    width: 300px;
    line-height:50px;
    text-align: center;
    position:relative;
    border:none;
    font-size:30px;
    display:block;
}
#menu li{
    float: right;
    width: 150px;
    line-height:100px;
    text-align: center;
    position:relative;
    border:none;
}
#menu li a { /*一级导航栏字*/
    font-size:18px;
    color: black;
    display:block;
    outline:0;
    text-decoration:none;
}
#menu li:hover a { /*导航栏变色颜色 */
    /* background-color: #FFC18E; */
    color: #ffffff;
    height: 60px;
}

.content{
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    background: #ffffff;
    padding: 50px;
    

}
.content h1{
    float: center;
    width: 500px;
    line-height:50px;
    text-align: left;
    position:relative;
    border:none;
    font-size:24px;
    display:block;
    color: #e46887;

}

.btn{
    background: #e46887;
    width: 262px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }