
li{
    list-style-type: none;
}

body {
    /* font-family: Avenir; */
    margin: 0;
}

#menu {
    height: 80px;
    background-color: #e46887;
}
#menu h1{
    float: left;
    width: 300px;
    line-height:45px;
    text-align: left;
    position:left;
    border:none;
    font-size:30px;
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#menu li{
    float: right;
    width: 150px;
    line-height:80px;
    text-align: center;
    position:relative;
    border:none;
}
#menu li a { 
    font-size:18px;
    color: black;
    display:block;
    outline:0;
    text-decoration:none;
}
#menu li:hover a { 
    color: #ffffff;
    height: 60px;
}

.required{
    color: #e46887;
}


.content{
    -ms-flex: 100%; 
    flex: 100%;
    background: #ffffff;
    padding: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.content h1{
    float: center;
    width: 500px;
    line-height:30px;
    text-align: left;
    position:relative;
    border:none;
    font-size:24px;
    display:block;
    color: #e46887;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.btn{
    background: #e46887;
    width: 250px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  